    /*scss variables*/
    
    $wraper-margin: 8px auto;
    $center-div: 0 auto;
    $menu-orange: rgb(255, 102, 0);;
    $ligth-gray:  rgb(246, 246, 239);
    $font-gray: #828282;
    $mainflex: 1 1 0;
    $mini-mobile-breakpoint: 320px;
    $mobile-breakpoint: 480px;
    $tablet-breakpoint: 768px;
    