@import 'mixins';
.comments{
    li{
        padding: 10px;
        list-style-type: none;
        font-size: 12px;
        .comment--info{
            display: inline-block;
            font-size: 10px;
            padding-right: 5px; 
            color: $font-gray;
        }
    }
}