    /*scss variables*/
    
    $wraper-margin: 8px auto;
    $center-div: 0 auto;
    $menu-orange: rgb(255, 102, 0);;
    $ligth-gray:  rgb(246, 246, 239);
    $font-gray: #828282;
    $mainflex: 1 1 0;
    $mini-mobile-breakpoint: 320px;
    $mobile-breakpoint: 480px;
    $tablet-breakpoint: 768px;
    
    /*sass mixins*/
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        background: #fff;
        overflow-x: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    ul, ol{
      padding: 0px;
      margin: 0px;
    }
    /*main style */
    
    a:hover,
    a:visited,
    a:focus,
    a:active,
    a:-webkit-any-link {
        color: $font-gray;
        text-decoration: none;
    }
    
    .wraper {
        max-width: 1230px;
        width: 100%;
        height: 100%;
        margin: $wraper-margin;
        background-color: $ligth-gray;
    }
    .main-header{
      padding: 2px;
      background-color: $menu-orange;
        .main-header__menu{
            line-height: 250%;
            list-style-type: none;
            font-size: 14px;
            li, h6 {
              display: inline-block;
              a:visited{
                color: #000;
              }
              img#hack-logo{
                margin: 2px;
                display: inline-block;
                border: 1px #fff solid;
                position: relative;
                top: 7px;
              }
            }
            li:last-of-type{
              float: right;
              padding-right: 10px;
            }
            li:first-of-type{
              padding-right: 10px;
            }
        }
    }

  .main-content{
    border-bottom: 2px $menu-orange solid;
    padding-bottom: 30px;
    ol.news-list{
      list-style-position: inside;
      li{
        margin-top: 20px;
        margin-left: 10px;
      }
      li h4, li h4+p{
        display: inline;
        padding-right: 5px; 
        font-weight: 400;
      }
      li h4+p{
        font-size: 12px;
        color: $font-gray;
      }
      li .news-list__post-info {
        margin-left: 20px;
      & p{
        font-size: 10px;
        color: $font-gray;
        display: inline;
        padding-right: 5px; 
      }
    }
  }
}

button.button.more{
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  background-color: inherit;
  &::after{
    content: "+";
    padding-left: 5px;
  }
}

.footer{
  .footer-header{
    font-size: 14px;
    color: $font-gray;
    font-weight: 400;
  }
  .footer__menu{
    text-align: center; 
    ul.foote__menu__list{
      font-size: 11px;
      list-style-type: none;
      margin: 10px;
      li{
        display: inline-block;
        &::after{
          content: " |"
        }
      }
    }
  }
   .footer__search{
      text-align: center; 
      margin: 20px;
      label{
        color: $font-gray;
        font-size: 14px;
      }
    }
}

@media all and (max-width: $mini-mobile-breakpoint){
  .main-header .main-header__menu {
    font-size: 12px;
  }
  .main-content ol.news-list li .news-list__post-info,
  button.button.more{
    margin-left: 0;
  }
}